{% extends "base.html" %}

{% block body_attribs %}
    background = "https://images-na.ssl-images-amazon.com/images/I/316FSDek9sL._AC_SY450_.jpg"
{% endblock %}

{% block content %}

    <div class = "container">
        <div class = "row">
            <div class = "col-md-6">
                {% if dictionary["image"] %}
                    <img align = "center" src= "{{dictionary['image']}}" height = "200" width = "200">
                {% endif %}
            </div>
            <div class = "col-md-6">
                <h4> Song List and Analysis </h4>
                <form action = "" method = "post">
                    <p style = "font-family: garamond"> Select Some Values  </p>
                    <p> {{form.choices }} </p>
                    <p> {{form.submit }} </p>
                </form>
            </div>
        </div>
        <div class = "row">
            <div class = "col-md-6">
                <h3> Songs in the Playlist {{dictionary["name"]}} </h3>
                <ol>
                    {% for item in dictionary["tracks"] %}
                    <li> <b> {{item[0]}} by {{item[1]}}</b> </li>
                    {% endfor %}
                </ol>
            </div>
            <div class = "col-md-6">
                <h3 style = "font-family: garamond"> A Brief Analysis of the Songs </h3>
                <ol>
                    <li> <b> Mean</b> <a href="/playlist/furtheranalysis/danceability/{{dictionary['id']}}"> Danceability: </a> {{dictionary["danceability"]}} </li>
                    <li> <b> Mean</b> <a href="/playlist/furtheranalysis/tempo/{{dictionary['id']}}"> Tempo: </a>  {{dictionary["tempo"]}} </li>
                    <li> <b> Mean</b> <a href="/playlist/furtheranalysis/popularity/{{dictionary['id']}}"> Popularity </a> {{dictionary["popularity"]}} </li>
                    <li> <b> Mean</b> <a href="/playlist/furtheranalysis/loudness/{{dictionary['id']}}"> Loudness </a> {{dictionary["loudness"]}} </li>
                    <li> <b> Mean </b> <a href="/playlist/furtheranalysis/mode/{{dictionary['id']}}"> Mode </a> {{dictionary["mode"]}} </li>
                    <li> <b> Mean </b> <a href="/playlist/furtheranalysis/energy/{{dictionary['id']}}">Energy </a> {{dictionary["energy"]}} </li>
                    <li> <b> Mean </b> <a href="/playlist/furtheranalysis/speechiness/{{dictionary['id']}}"> Speech </a> {{dictionary["speechiness"]}} </li>
                    <li> <b> Mean </b> <a href="/playlist/furtheranalysis/instrumentalness/{{dictionary['id']}}"> Instrumentalness </a> {{dictionary["instrumentalness"]}} </li>
                    <li> <b> Mean </b> <a href="/playlist/furtheranalysis/liveness/{{dictionary['id']}}"> Liveness </a> {{dictionary["liveness"]}} </li>
                     <li> <b> Mean </b> <a href="/playlist/furtheranalysis/valence/{{dictionary['id']}}"> Valence </a> {{dictionary["valence"]}} </li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
